---
import PageLayout from '../layouts/BaseLayout.astro'
import Section from '../components/Section.astro'
import Card from '../components/Card.astro'
import ProjectCard from '../components/ProjectCard.astro'
import Label from '../components/Label.astro'
import SkillLayout from '../components/SkillLayout.astro'
import PostPreview from '@/components/blog/PostPreview.astro'

// import { Image } from 'astro:assets'
// import astro from '../assets/about-astro.png'
// import logo from '../assets/logo.svg'

import resume from '../resume/resume.json'

import Logo from '../assets/new-logo.astro'
import Icon from '../assets/icon.astro'

import { getAllPosts, sortMDByDate } from '@/utils'

const languages = ['lorem', 'ipsum']
const frontend = ['lorem', 'ipsum', 'lorem', 'ipsum', 'lorem', 'ipsum', 'lorem']
const backend = ['lorem', 'ipsum', 'lorem', 'ipsum']
const others = ['lorem', 'ipsum', 'lorem', 'ipsum', 'lorem']

const MAX_POSTS = 10
const allPosts = await getAllPosts()
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS)
---

<PageLayout meta={{ title: 'Home' }}>
	<div class='flex w-full flex-col gap-y-10'>
		<section class='flex flex-col items-center gap-y-7'>
			<Logo
				alt='profile photo'
				class='h-28 w-auto border-2 border-primary fill-primary p-2'
				loading='eager'
			/>
			<div class='flex flex-col items-center gap-y-4'>
				<h1 class='font-display text-4xl font-bold'>T. Paul Kariuki</h1>
				<a
					href='https://github.com/theSaviKing'
					class='flex flex-row items-center gap-x-3 rounded-lg border border-input px-4 py-2 text-sm shadow-sm transition-all hover:shadow-md'
					target='_blank'
				>
					<span class='relative flex items-center justify-center'>
						<span
							class='absolute inline-flex h-2 w-2 animate-ping rounded-full border border-primary bg-primary opacity-75'
						></span>
						<span class='relative inline-flex h-2 w-2 rounded-full bg-primary'></span>
					</span>

					<p class='flex items-center justify-center gap-1 font-medium'>
						<svg
							preserveAspectRatio='xMidYMid'
							version='1.1'
							viewBox='0 0 256 250'
							xmlns='http://www.w3.org/2000/svg'
							xmlns:xlink='http://www.w3.org/1999/xlink'
							class='w-4 fill-current text-foreground/75'
						>
							<g>
								<path
									d='M128.00106,0 C57.3172926,0 0,57.3066942 0,128.00106 C0,184.555281 36.6761997,232.535542 87.534937,249.460899 C93.9320223,250.645779 96.280588,246.684165 96.280588,243.303333 C96.280588,240.251045 96.1618878,230.167899 96.106777,219.472176 C60.4967585,227.215235 52.9826207,204.369712 52.9826207,204.369712 C47.1599584,189.574598 38.770408,185.640538 38.770408,185.640538 C27.1568785,177.696113 39.6458206,177.859325 39.6458206,177.859325 C52.4993419,178.762293 59.267365,191.04987 59.267365,191.04987 C70.6837675,210.618423 89.2115753,204.961093 96.5158685,201.690482 C97.6647155,193.417512 100.981959,187.77078 104.642583,184.574357 C76.211799,181.33766 46.324819,170.362144 46.324819,121.315702 C46.324819,107.340889 51.3250588,95.9223682 59.5132437,86.9583937 C58.1842268,83.7344152 53.8029229,70.715562 60.7532354,53.0843636 C60.7532354,53.0843636 71.5019501,49.6441813 95.9626412,66.2049595 C106.172967,63.368876 117.123047,61.9465949 128.00106,61.8978432 C138.879073,61.9465949 149.837632,63.368876 160.067033,66.2049595 C184.49805,49.6441813 195.231926,53.0843636 195.231926,53.0843636 C202.199197,70.715562 197.815773,83.7344152 196.486756,86.9583937 C204.694018,95.9223682 209.660343,107.340889 209.660343,121.315702 C209.660343,170.478725 179.716133,181.303747 151.213281,184.472614 C155.80443,188.444828 159.895342,196.234518 159.895342,208.176593 C159.895342,225.303317 159.746968,239.087361 159.746968,243.303333 C159.746968,246.709601 162.05102,250.70089 168.53925,249.443941 C219.370432,232.499507 256,184.536204 256,128.00106 C256,57.3066942 198.691187,0 128.00106,0 Z M47.9405593,182.340212 C47.6586465,182.976105 46.6581745,183.166873 45.7467277,182.730227 C44.8183235,182.312656 44.2968914,181.445722 44.5978808,180.80771 C44.8734344,180.152739 45.876026,179.97045 46.8023103,180.409216 C47.7328342,180.826786 48.2627451,181.702199 47.9405593,182.340212 Z M54.2367892,187.958254 C53.6263318,188.524199 52.4329723,188.261363 51.6232682,187.366874 C50.7860088,186.474504 50.6291553,185.281144 51.2480912,184.70672 C51.8776254,184.140775 53.0349512,184.405731 53.8743302,185.298101 C54.7115892,186.201069 54.8748019,187.38595 54.2367892,187.958254 Z M58.5562413,195.146347 C57.7719732,195.691096 56.4895886,195.180261 55.6968417,194.042013 C54.9125733,192.903764 54.9125733,191.538713 55.713799,190.991845 C56.5086651,190.444977 57.7719732,190.936735 58.5753181,192.066505 C59.3574669,193.22383 59.3574669,194.58888 58.5562413,195.146347 Z M65.8613592,203.471174 C65.1597571,204.244846 63.6654083,204.03712 62.5716717,202.981538 C61.4524999,201.94927 61.1409122,200.484596 61.8446341,199.710926 C62.5547146,198.935137 64.0575422,199.15346 65.1597571,200.200564 C66.2704506,201.230712 66.6095936,202.705984 65.8613592,203.471174 Z M75.3025151,206.281542 C74.9930474,207.284134 73.553809,207.739857 72.1039724,207.313809 C70.6562556,206.875043 69.7087748,205.700761 70.0012857,204.687571 C70.302275,203.678621 71.7478721,203.20382 73.2083069,203.659543 C74.6539041,204.09619 75.6035048,205.261994 75.3025151,206.281542 Z M86.046947,207.473627 C86.0829806,208.529209 84.8535871,209.404622 83.3316829,209.4237 C81.8013,209.457614 80.563428,208.603398 80.5464708,207.564772 C80.5464708,206.498591 81.7483088,205.631657 83.2786917,205.606221 C84.8005962,205.576546 86.046947,206.424403 86.046947,207.473627 Z M96.6021471,207.069023 C96.7844366,208.099171 95.7267341,209.156872 94.215428,209.438785 C92.7295577,209.710099 91.3539086,209.074206 91.1652603,208.052538 C90.9808515,206.996955 92.0576306,205.939253 93.5413813,205.66582 C95.054807,205.402984 96.4092596,206.021919 96.6021471,207.069023 Z'
								>
								</path>
							</g>
						</svg><span>/ theSaviKing</span>
					</p>
				</a>
				<div class='flex flex-wrap justify-center gap-x-7 gap-y-3'>
					<Label title={resume.currentTitle}>
						<svg
							xmlns='http://www.w3.org/2000/svg'
							viewBox='0 0 24 24'
							class='h-5 w-5'
							slot='icon'
							><path
								fill='currentColor'
								d='M4.615 20q-.69 0-1.152-.462Q3 19.075 3 18.385v-9.77q0-.69.463-1.152Q3.925 7 4.615 7H9V5.615q0-.69.463-1.152Q9.925 4 10.615 4h2.77q.69 0 1.153.463q.462.462.462 1.152V7h4.385q.69 0 1.152.463q.463.462.463 1.152v9.77q0 .69-.462 1.152q-.463.463-1.153.463zm0-1h14.77q.23 0 .423-.192q.192-.193.192-.423v-9.77q0-.23-.192-.423Q19.615 8 19.385 8H4.615q-.23 0-.423.192Q4 8.385 4 8.615v9.77q0 .23.192.423q.193.192.423.192M10 7h4V5.615q0-.23-.192-.423Q13.615 5 13.385 5h-2.77q-.23 0-.423.192q-.192.193-.192.423zM4 19V8z'
							></path></svg
						>
					</Label>
					<Label title={resume.location}>
						<svg
							xmlns='http://www.w3.org/2000/svg'
							viewBox='0 0 24 24'
							class='h-5 w-5'
							slot='icon'
							><path
								fill='currentColor'
								d='M12.003 11.73q.668 0 1.14-.475q.472-.475.472-1.143t-.475-1.14q-.476-.472-1.143-.472t-1.14.476q-.472.475-.472 1.143t.475 1.14q.476.472 1.143.472M12 19.677q2.82-2.454 4.458-4.991q1.638-2.538 1.638-4.39q0-2.744-1.737-4.53T12 3.981q-2.621 0-4.359 1.785t-1.737 4.53q0 1.852 1.638 4.39q1.639 2.537 4.458 4.99m0 1.343q-3.525-3.117-5.31-5.814q-1.786-2.697-1.786-4.909q0-3.173 2.066-5.234Q9.037 3 12 3t5.03 2.062q2.066 2.061 2.066 5.234q0 2.212-1.785 4.909q-1.786 2.697-5.311 5.814m0-10.904'
							></path></svg
						>
					</Label>
					<Label
						title='Connect on Linkedin'
						as='a'
						href='https://www.linkedin.com/in/tpaulkariuki/'
						target='_blank'
					>
						<svg
							xmlns='http://www.w3.org/2000/svg'
							viewBox='0 0 16 16'
							slot='icon'
							class='h-5 w-5 text-foreground/75'
							><path
								fill='currentColor'
								d='M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854zm4.943 12.248V6.169H2.542v7.225zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248c-.015-.709-.52-1.248-1.342-1.248S2.4 3.226 2.4 3.934c0 .694.521 1.248 1.327 1.248zm4.908 8.212V9.359c0-.216.016-.432.08-.586c.173-.431.568-.878 1.232-.878c.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252c-1.274 0-1.845.7-2.165 1.193v.025h-.016l.016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225z'
							></path></svg
						>
					</Label>
				</div>
			</div>
		</section>

		<Section title='About'>
			<p class='text-muted-foreground' set:html={resume.about} />
		</Section>
		{
			allPostsByDate.length > 0 && (
				<Section title='Recent Blog Posts'>
					<ul class='flex flex-col gap-y-2'>
						{allPostsByDate.map((p) => (
							<li class='flex flex-col gap-x-2 sm:flex-row'>
								<PostPreview post={p} />
							</li>
						))}
					</ul>
				</Section>
			)
		}

		<Section title='Experience'>
			{
				resume.experience.map((exp) => (
					<Card
						heading={exp.title}
						subheading={exp.company}
						date={`${exp.startDate} - ${exp.endDate}`}
						icon={Icon}
						iconClass='h-10 fill-primary md:-left-16'
					>
						{exp.details.length > 0 && (
							<ul class='ml-4 list-disc text-muted-foreground'>
								{exp.details.map((dt) => (
									<li>{dt}</li>
								))}
							</ul>
						)}
					</Card>
				))
			}
			<Card
				heading='Software Development Intern'
				subheading='Sit amet consectetur'
				date='Dec 2022 - Nov 2023'
				altText='Lorem, ipsum dolor sit'
				icon={Icon}
				iconClass='h-10 fill-primary md:-left-16'
			>
				<ul class='ml-4 list-disc text-muted-foreground'>
					<li>
						Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore debitis
						recusandae, ut molestiae laboriosam pariatur!

						<li>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae,
							pariatur!
						</li>
					</li>
				</ul>
			</Card>
			<Card
				heading='Lorem Ipsum'
				subheading='Sit amet consectetur'
				date='Dec 2022 - Nov 2023'
				icon={Icon}
				iconClass='h-10 fill-primary md:-left-16'
			/>
		</Section>

		<Section title='Education'>
			<Card
				heading='Lorem Ipsum'
				subheading='Sit amet consectetur'
				date='Dec 2022 - Nov 2023'
				icon={Icon}
				iconClass='h-10 fill-primary md:-left-16'
			>
				<ul class='ml-4 list-disc text-muted-foreground'>
					<li>
						Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore debitis
						recusandae, ut molestiae laboriosam pariatur!

						<li>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae,
							pariatur!
						</li>
					</li>
				</ul>
			</Card>
			<Card
				heading='Lorem Ipsum'
				subheading='Sit amet consectetur'
				date='Dec 2022 - Nov 2023'
				icon={Icon}
				iconClass='h-10 fill-primary md:-left-16'
			/>
		</Section>

		<Section title='Projects'>
			<div class='flex flex-col gap-y-3 sm:flex-row sm:gap-x-3 sm:gap-y-0'>
				<ProjectCard
					href='https://www.google.com'
					heading='Consectetur'
					subheading='Lorem ipsum dolor sit amet consectetur adipisicing elit.'
					imagePath='/src/assets/coming-soon.png'
					altText='Example'
					class='w-full sm:w-1/2'
				/>
				<ProjectCard
					as='div'
					heading='Coming soon...'
					subheading=''
					imagePath='/src/assets/coming-soon.png'
					altText='Lorem, ipsum dolor sit'
					class='w-full sm:w-1/2'
				/>
			</div>
		</Section>

		<Section title='Certifications'>
			<Card
				as='a'
				heading='Lorem ipsum, dolor sit amet consectetur adipisicing.'
				subheading='Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam dicta magni consequuntur corrupti.'
				date='Mar 2024 - Mar 2024'
				icon={Icon}
				iconClass='h-10 fill-primary md:-left-16'
				href='https://www.google.com'
			/>
			<Card
				as='a'
				heading='Lorem ipsum, dolor sit amet'
				subheading='Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam dicta.'
				date='Mar 2029 - Mar 2032'
				icon={Icon}
				iconClass='h-10 fill-primary md:-left-16'
				href='https://www.google.com'
			/>
		</Section>

		<Section title='Skills'>
			<SkillLayout title='Languages' skills={languages} />
			<SkillLayout title='Frontend' skills={frontend} />
			<SkillLayout title='Backend' skills={backend} />
			<SkillLayout title='Others' skills={others} />
		</Section>
	</div>
</PageLayout>
